:root{
    --Blue-1: #2F80ED;
    --Gray-1: #333;
}

body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header{
    padding-top: 40px;
    background: #F6F6F6;
    /* for fixed header */
    /* position: fixed;
    top: 0;
    width: 100%; */
}

a{
    text-decoration: none;
}

.container{
    max-width: 920px;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main__btn styles*************** */
.main__btn{   
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color:var(--Blue-1);
    font-size: 14px;
    border: 1px solid var(--Blue-1);
    border-radius: 80px;
    transition: all 0.15s; 
    cursor: pointer;
}
.main__btn:hover{
    color:var(--Blue-1);
    border: 1px solid rgba(47,128,237,0.2);
    box-shadow: 6px 6px 22px -4px rgba(47,128,237,0.25);
}
.main__btn:focus{
    color: var(--Blue-1);
    outline: none;
}
.main__btn:active{
    box-shadow: none;
}

/* header********************************* */
.header__logo>div:last-child{
    justify-content: flex-end;
}
.header__btn{
    width: 139px;
    height: 36px;    
    padding: 8px 16px;
}

.header__search{
    /* this margin is for aligning the "header__search" in width */
    margin: 26px 0 0 0;    
    border-radius: 8px;
    background: #E0E0E0;
}
.header__searchInp{
    width: 100%;
    margin: 0 8px;
    background: #E0E0E0;
    color: #828282;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    outline: none;
}
.header__search>div>span{
    margin: 16px 16px 12px 16px;
    cursor: pointer;
}
/* popular section****************************** */
section{
    background: #F6F6F6;
}
.popular{
    padding-top: 64px;
}
.titleText{
    justify-content: flex-start;
    color: var(--Gray-1);    
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.64px;
    text-transform: uppercase;
}
.popular__titleText{
    font-family: Montserrat Alternates;
}
.show__moreLink{
    justify-content: flex-end;
}
.show__moreLink>a{
    color: var(--Gray-1);
    height: 17px;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-bottom: 1px dotted var(--Gray-1);
}

.popular__item{
    margin-top: 32px;
}
.popular__item a{
    color: var(--Gray-1, #333);
    display: flex;
    align-items: center;
}
.popular__item span{    
    font-size: 18px;
    font-weight: 500;
    margin: 0 4px;
}
.popular__item>div{
    margin: 0 14px 17px 0;
    padding: 16px 24px;
    background: #FFF; 
    border-radius: 32px;  
}
/* guide section********************************/
.guide{
    padding: 56px 0 80px 0;
}
.guide__items{
    margin-top: 32px;
}
.guide__items>.row{
    padding-bottom: 24px;
}
.guide__items div{
    justify-content: flex-start;
}
.guide__items a{
    color: #0C99FF;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}
/* footer************************************* */
footer{
    height: 108px;
    background: #FAFAFA;
    border-top: 2px solid #BDBDBD;
    display: flex;
    align-items: center;
}
.copyright{
    justify-content: flex-start;
    color: #4F4F4F;
    font-size: 16px;
}

.copyright__link{
    justify-content: flex-end;
}
.copyright__link>a{
    color: var(--Blue-1);
    height: 17px;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-bottom: 1px dotted var(--Blue-1);
}
/* article****************************** */
article{
    background: #FFF;;
}
.article__title{
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C4E7FF;
    color: var(--Gray-1);
    font-family: Montserrat Alternates;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px; /* 125% */
    letter-spacing: 0.64px;
}
.article__content{
    /* max-width: 667px; */
    max-width: 701px;
}
.article__contentItems{
    color: var(--Gray-1);
    font-size: 16px;
    line-height: 26px;
}
.article__contentItems{
    max-width: 667px;
    margin: 32px 0 48px 0;
    padding-left: 0;     
}
.article__contentItems>li{
    list-style-image: url("../img/marker_li.png");
    margin: 24px 0;
}
.article__contentItems>li:nth-child(3){
    list-style: none;
    border-radius: 8px;
    border: 1px solid #9DE791;
    border-left: 6px solid #9DE791;
    padding: 24px 14px 25px 16px;
    background:rgba(157, 231, 145, 0.2);
}

article .guide__items{
    max-width: 667px;
}
/* autor section********************** */
.autor__info{
    margin: 48px 0 64px 0;
}
.autor__infoName{
    margin-left: 12px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
}
.autor__infoText{
    color: #4F4F4F;
    font-size: 12px;
    line-height: 22px;
}
/* likes section********************* */
.likes{
    margin: 0 0 96px 0;
}
.likes__block{   
    max-width: 200px;
    display: inline-flex;
    padding: 10px 32px;
    border-radius: 100px;
    background: #F2F2F2;
}
.likes__blockLeft{
     color: var(--Blue-1);
}
.likes__counter{
    margin: 8px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;    
}
.likes__blockSeparator{
    height: 24px;
    border-left: 1px solid #D9D9D9;    
    transform: rotate(180deg);
    margin: 0 20px;
}
.likes__blockRight{
    color: var(--Gray-1);
}
.likes__block img{
    cursor: pointer;
}

.article__btn{
    width: 203px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #FFF;
}
/* article footer section********************* */
.article__footer{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(232, 233, 113, 0.70);
    color: var(--Gray-1);
    font-size: 16px;
}
.article__footer>span{
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 4px;
}