/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:ital,wght@0,400;0,500;1,500&display=swap'); */
:root{
    --Blue-1: #2F80ED;
   
}
body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #F6F6F6; 
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif; */
header{
    padding-top: 40px;
    /* for fixed header */
    /* position: fixed;
    top: 0;
    width: 100%; */
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo>div:last-child{
    justify-content: flex-end;
}
.header__btn{
    width: 139px;
    height: 36px;    
    padding: 8px 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color:var(--Blue-1);
    font-size: 14px;
    border: 1px solid var(--Blue-1);
    border-radius: 80px;
    transition: all 0.15s;  
}
.header__btn:hover{
    color:var(--Blue-1);
    border: 1px solid rgba(47,128,237,0.2);
    box-shadow: 6px 6px 22px -4px rgba(47,128,237,0.25);
}
.header__btn:focus{
    color: var(--Blue-1);
    outline: none;
}
.header__btn:active{
    box-shadow: none;
}

.header__search{
    margin-top: 26px;
    border-radius: 8px;
    background: #E0E0E0;
}
.header__searchInp{
    width: 100%;
    margin: 0 8px;
    background: #E0E0E0;
    color: #828282;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    outline: none;
}
.header__search>div>span{
    margin: 16px 16px 12px 16px;
}


